body {
    background-color: #14122f;
    background-image: url(src-images/backgroundImage.jpg);
    background-attachment: fixed;
    font-family: 'Courier New', Helvetica, sans-serif;
}

#page-title{
  margin-top: 20px;
  color: #ffffff;
  text-align: center;
  font-family: 'Courier New', Helvetica, sans-serif;
  font-size: 50px;
}

#date-range-and-doom-div {
  display: inline-block;
  width: 100%;
  color: #ffffff;
  font-family: 'Courier New', Helvetica, sans-serif;

}

#week-data-set-range {
  float: left;
  margin-left: 30px;
}

#doom-mongering-quote {
  display: flex;
  float: right;
  width: 50%;
  color: #ffffff;
  margin-right: 8px;
  text-align: right;
  vertical-align:center;
  font-size: 12px;
  opacity: 80%;

  padding-top: 10px;
}
h1 {
  color: #ffffff;
  font-family: 'Courier New', Helvetica, sans-serif;
}

#drop-downs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-family: 'Courier New', Helvetica, sans-serif;
}

#drop-downs div {
  width: 50%
}

#neo-description-div {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  color: #ffffff;
  background-color: #14122f;
  opacity: 0.75;
  float: left;
  text-align: left;
  width:100%;
}

#asteroid-cards-title-div {
  display: flex-wrap;
  float: center;
  width: 100%;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  background-color: #14122f;
  opacity: 0.75;
}

.form-labels {
  color: #ffffff;
  font-family: 'Courier New', Helvetica, sans-serif
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    background-color: transparent;
    align-content: center;
    padding: 50px;
  }
  
  .flex-container > div {
    overflow: auto;
    background-color: #e2cbe2;
    align-content: space-around;
    padding: 50px;
    max-width: 300px;
    margin: 10px;
    text-align: center;
  }
  
  #hazard-returns-true {
    color: red;
    letter-spacing: 10px;
    margin-top: -3px;
  }

  #hazard-returns-false {
    color: blue;
    letter-spacing: 10px;
    margin-top: -3px;
  }

  