body {
    background-color: #14122f;
    background-image: url(src-images/backgroundImage.jpg);
    background-attachment: fixed;
    font-family: 'Courier New', Helvetica, sans-serif;
}

#neo-description-div {
  display: flex;
  padding: 7px;
  width: 100%;
  align-content: center;
  justify-content: center;
  color: #ffffff;
  background-color: #14122f;
  opacity: 0.75;
}

#asteroid-cards-title-div {
  display: flex;
  padding: 7px;
  width: 100%;
  align-content: center;
  justify-content: center;
  color: #ffffff;
  background-color: #14122f;
  opacity: 0.75;
}
#near-earth-object-description {
  width:25%;
  padding: 4px;
}
#doom-mongering-quote {
  display: block;
  width: 70%;
  background-color: #e2cbe2;
  color: #14122f;
  opacity: 80%;
}
h1 {
  color: #ffffff;
  font-family: 'Courier New', Helvetica, sans-serif;
}



#drop-downs {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-family: 'Courier New', Helvetica, sans-serif;
}

#drop-downs div {
  width: 50%
}

.form-labels {
  color: #ffffff;
  font-family: 'Courier New', Helvetica, sans-serif
}

  #page-title {
    color: #ffffff;
    text-align: center;
    font-family: 'Courier New', Helvetica, sans-serif;
  }

  #week-data-set-list{
    color: #ffffff;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Helvetica, sans-serif;
}

#week-data-set-list > li {
    display: inline-block;
    padding: 50px;
    font-family: 'Courier New', Helvetica, sans-serif;
}

/* #sorting-option-div{
  display: none;
} */
/* 
#day-drop-down-menu{
    display: none;

    visibility:hidden; also hides an element.

However, the element will still take up the same space as before. The element will be hidden, but still affect the layout:
} */


.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    background-color: transparent;
    align-content: center;
    padding: 50px;
  }
  
  .flex-container > div {
    overflow: auto;
    background-color: #e2cbe2;
    align-content: space-around;
    padding: 50px;
    width: 300px;
    margin: 10px;
    text-align: center;
  }
  
  #hazard-returns-true {
    color: red;
    letter-spacing: 10px;
    margin-top: -3px;
  }

  #name-field-tite {
    margin-bottom: -5px;
  }
  #name-field {
    margin-top: -10px;
  }

  #hazard-returns-false {
    color: blue;
    letter-spacing: 10px;
    margin-top: -3px;
  }

  